*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

:root{
    --bg-color: #091c3e;
    --second-bg-color: #0f2f68;
    --text-color: #e3e6ea;
    --main-color: #cdfb0a;
}

html{
    font-size: 64%;
    overflow-x: hidden;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);

}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky{
    border-bottom: 1rem solid rgba(0 , 0, 0, .2);
}
.logo{
    width: 40px;
    height: auto;
    cursor: default;
}
.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: 0.5s;
}

.navbar a.active,
.navbar a:hover{
    color:var(--main-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}


.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

span{
    color: var(--main-color);
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}



.home-img img{
    width: 100%;
    max-width: 350px;
    height: auto;
    border: 5px solid var(--main-color);
    border-radius: 30px 5px ;
    box-shadow: 7px 7px 15px var(--main-color);
    margin-left: 5px;
    animation: floatImage 4s ease-in-out infinite;

}

@keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}

@media (max-width: 992px) {
  .home-img img{
    max-width: 420px;
  }
}



.home-content p{
    font-size: 1.6rem;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s ease;
}

.social-media a:hover{
    background-color: var(--main-color);
    color: var(--second-bg-color) ;
    box-shadow: 0 0 1rem var(--main-color);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: 7px;
    font-weight: 600;
}

.btn:hover{
    box-shadow: none;

}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.about-img {
  width: 380px;  
  height: 380px; 
  flex-shrink: 0;
}

.about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.about-img img {
  border: 5px solid var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
}
.about {
  display: flex;
  align-items: center;
  gap: 4rem;
}


.heading{
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;

}
.about-content h3{
    font-size: 2.6rem;
}
.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.projects{
    background-color: var(--bg-color);

}

.projects h2{
    margin-bottom: 4rem;

}

.projects-container{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    align-items: center;
    gap: 2.5rem;
}

.projects-container .projects-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--second-bg-color);
    overflow: hidden;
    display: flex;
}

.projects-box img{
    width: 100%;
}

.projects-box .projects-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0 , 0, 0, .1),var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.projects-box:hover .projects-layer{
    transform: translateY(0);
    

}


.projects-layer h4{
    font-size: 3rem;
    color: var(--second-bg-color);
}

.projects-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;

}
.projects-layer p{
    color: black;
}

.projects-layer a i{
    font-size: 2rem;
    color: var(--second-bg-color);
}

.contact{
    background: var(--second-bg-color);
}
.contact h2{
    margin-bottom: 3rem;

}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-top: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color:  var(--text-color);
    background: var(--bg-color);
    border-radius: 8rem;
    margin: .7rem 0 ;
}

.contact form .input-box input{
    width: 49%;
}

.contact form textarea{
resize: none;

}

.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}

.footer{
    display: flex;

    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bg-color);
}

.footer-text p{
    font-size: 1.6rem;
}

.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
}

.footer-iconTop a :hover{
    box-shadow: 0 0 1rem;
}

.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

@media (max-width: 1200px) {
    html{
        font-size: 55%;
        
    }
}

@media (max-width: 991px) {
    html{
        padding: 2rem 0;

    }

    .header{
        padding: 2rem 0;
    }

    section{
        padding: 10rem 3%  2rem;
    }

    .projects{
        padding-bottom: 7rem;
    }

    .contact{
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px){
    #menu-icon{
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0 , 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0 , 0, 0, .2);
        display: none;
        cursor: pointer;
    }

    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction:column-reverse;
        text-align: center;
        gap: 2rem;
        padding: 2rem 1rem;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img {
        width: 90%;
        max-width: 350px;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column;
        text-align: center;
        gap: 2rem;
        padding: 2rem 1rem;
    }
    .about h2{
        text-align: center;
    }

    .about-img {
        width: 90%;
        height: auto;
        max-width: 350px;
        margin: 0 auto;
    }

    .about-img img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .projects h2 {
        margin-bottom: 3rem;
    }

    .projects-container{
        grid-template-columns: repeat(1, 1fr);
    }

}

@media(max-width: 450px) {
    html{
        font-size: 50%;
    }
    .contact form .input-box input{
        width: 100%;
    }
}

@media(max-width: 365px) {
    .footer{
        flex-direction: column-reverse;
    }
    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}